{% extends 'base.html.twig' %}

{% block title %}À propos de vous{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex mt-5 mb-5 ms-3">
            <a class="" href="{{ path('app_home') }}" title="Retour">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-left-circle-fill text-warning" viewbox="0 0 16 16"><path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg>
            </a>
            <h1 class="ms-3 navtext">À propos de vous</h1>
        </div>
    
        <table class="table table-responsive table-striped table-dark mt-5 mb-5">
            <tbody class="text-light">
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ user.email }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th>Role.s</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Vérifié</th>
                        <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    
        
    
        <a class="mt-5 mb-5 ms-3" href="{{ path('app_client_edit', {'id': user.id}) }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
        </a>
    
        {# {{ include('client/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
