{% extends 'base.html.twig' %}

{% block title %}Welcome to Velvet Record!{% endblock %}

{% block body %}

<div class="container example-wrapper mt-5">
{# <a href="{{path ('app_home')}}">home</a> #}
{# <a href="{{path ('app_home')}}">Home</a> #} {# inutile car il est en navbar #}
{# <a href="{{path ('app_artist_index')}}">Artist</a> #}
{# <a href="{{path ('app_disc_index')}}">Disc</a> #}
{# <a href="{{path ('app_user_index')}}">Users</a> #}
{# <button class="btn  btn-sm btn-dark text-light mx-5" href="{{path ('app_login')}}">Login</button> #}
{# <button class="btn-sm btn-dark text-light mx-5" href="{{path ('app_forgot_password_request')}}">Forgot password </button> #}
{# <button class="btn-sm btn-dark text-light mx-5" href="{{path ('app_register')}}">Register</button> #}

</div>
{% endblock %}
{# profil est devenu home, vérifier si tout fonctionne bien #}