{% extends 'base.html.twig' %}

{% block title %}utiltisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mb-5 mt-5 ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-person-rolodex text-warning ms-3 me-3" viewBox="0 0 16 16"><path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/><path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/></svg>Utilisateur</h1>

		<table class="table table-responsive table-striped table-dark">
			<thead>
				<tr>
					<th class="text-center">Id</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>E-mail</th>
					<th>Role.s</th>
					{# <th>Mot de passe</th> #}
					<th class="text-center">Vérifié</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="text-center">{{ user.id }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						{# <td>{{ user.password }}</td> #}
						<td class="text-center">{{ user.isVerified ? 'Oui' : 'Non' }}</td>
						<td class="text-center">
							<a title="Show" href="{{ path('app_user_show', {'id': user.id}) }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16"><path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/></svg>
							</a>
							<a class="mx-3" title="Edit" href="{{ path('app_user_edit', {'id': user.id}) }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="mx-3 mt-5" title="Nouvel utilisateur" href="{{ path('app_user_new') }}">
			<svg class="ms-3 mt-5 text-success" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus-circle-fill" viewbox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/></svg>
		</a>
	</div>
{% endblock %}
